[Unit]
Description=My Python Script Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/amin/Project/ansible
ExecStart=/usr/bin/python /home/amin/Project/ansible/app.py
Restart=always

[Install]
WantedBy=multi-user.target

